.nav {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  z-index: 1;
}

.ol {
  font-size: 0.85rem;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
